<form role="form">
  <div class="form-group aeo-input">
    <label for="exampleOverlayEmpty" class="animateLabel">Label in Input</label>
    <input type="text" class="form-control" id="exampleOverlayLabel" placeholder="Label in Input" />
  </div>

  <div class="form-group aeo-input">
    <label for="exampleTextareaOverlayEmpty" class="animateLabel">Label in Textarea</label>
    <textarea class="form-control" id="exampleTextareaOverlayEmpty" placeholder="Label in Textarea"></textarea>
  </div>
</form>
