<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header" href="#">
      <a class="navbar-brand" href="#">AWP - Daily Updates</a>
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'updates'}}Updates{{/link-to}}</li>
      {{#if auth.authed}}
      <li>{{#link-to 'updates.new'}}Add New Update{{/link-to}}</li>
      {{/if}}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#unless session.authed}}
      <li><a href="#" {{action 'login' 'github'}}>Login</a></li>
      {{else}}
      <li><a href="#" {{action 'logout' 'github'}}>Logout</a></li>
      {{/unless}}
    </ul>
  </div>
</nav>
{{outlet}}
