<div class="container-fluid well">
  <div class="updates row">
    <div class="row">
      {{#each update in arrangedContent}}
        <div class="col-xs-4">{{update.author}}</div>
        <div class="col-xs-8">{{update.status}}</div>
      {{/each}}
    </div>
  </div>
</div>
